[Unit]
Description=Echoserver to test consumption of API
After=network.target

[Service]
User=criamon
WorkingDirectory=/home/criamon/share/echoserver
Restart=always
RestartSec=10
ExecStart=/usr/bin/npm start 
StandardOutput=syslog
StandardError=syslog
[Install]
WantedBy=default.target